<!--@09:00-->
<!--ccp registration for login page-->
<h1>Login</h1>

<!--@25:45-->
<!--we need to be able to display any error messages-->
<!--use conditional ejs statment-->
<% if (messages.error) { %>
    <%= messages.error %>
<% } %>
<!--form has all the different inputs-->
<form action="/login" method="POST">
    <!--action sends info to a route-->
    <!--post says how to handle info-->

    <div><label for="email">Email:</label>
    <input type="email" id="email" name="email" required></div>

    <div><label for="password">Password:</label>
    <input type="password" id="password" name="password" required></div>

    <button type="submit">Login</button>
</form>
<a href="/register">Register</a>